{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Timer{% endblock %}</h1>
{% endblock %}

{% block content %}
<h1>AHHHHHHHHH</h1>
<form method='post'>
    <label for='work_time'>Work Time</label>
    <input name='work_time' id='work_time' required>
    <label for='rest_time'>Rest Time</label>
    <input name='rest_time' id='rest_time' required>
    <label for='reps'>reps</label>
    <input name='reps' id='reps' required>
    <label for='break_time'>Break Time</label>
    <input name='break_time' id='break_time' required>
    <label for='sets'>sets</label>
    <input name='sets' id='sets' required>
</form>
{% endblock %}

